<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <base href="{{@SCHEME}}://{{@HOST}}:{{@PORT}}{{@BASE}}/" />
  <title>{{ @PAGE.TITLE }} [{{ @PACKAGE }}]</title>
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/ui/sticky-footer.css">
  <link rel="stylesheet" href="/ui/votr.css">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
<check if="{{@app.logo_img}}">
<true>
      <a class="navbar-brand" href="{{ 'home' | alias }}"><img src="{{@app.logo_img}}" id="header_logo" alt='Logo'/></a>
</true>
<false>
      <a class="navbar-brand" href="{{ 'home' | alias }}">Votr</a>
</false>
</check>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ 'home' | alias }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ 'results' | alias }}">Results</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <include href="{{ @PAGE.CONTENT }}" />
  </div>

  <footer class="footer">
    <div class="container footer-copyright text-center">
      <span class="text-muted small">Votr App &bull; &copy; Copyright 2020 Yarra Valley FM.</span>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/ui/votr.js"></script>

</body>

</html>
