<div class="row">
  <!-- HEAD TEXT BLOCK -->
  <div class="jumbotron collapse" id="jumbotron">
    <h1 class="display-4">{{@text.header}}</h1>
    <p class="lead">{{@text.lead}}</p>
    <hr class="my-4">
    <p>{{ join(" ", @text.instructions1) }}</p>
    <p>{{ join(" ", @text.instructions2) }}</p>
    <a class="btn btn-success btn-lg" role="button" id="btn_CloseJumbotron">{{@text.button}}</a>
  </div>

  <!-- OPTION 1 -->
  <div class="col-xs-12 col-md-6 text-center p-3" onclick="do_vote('1')">
    <div class="card text-center text-white bg-primary py-3">
      <div class="card-body">
        <h5 class="card-title" id="opt1_text">&nbsp;</h5>
      </div>
    </div>
  </div>

  <!-- OPTION 2 -->
  <div class="col-xs-12 col-md-6 text-center p-3" onclick="do_vote('2')">
    <div class="card text-center text-white bg-primary py-3">
      <div class="card-body">
        <h5 class="card-title" id="opt2_text">&nbsp;</h5>
      </div>
    </div>
  </div>

  <!-- SKIP -->
  <div class="col-12 text-center" onclick="do_skip()">
    <div class="card text-center text-white bg-secondary">
      <div class="card-body">
        <h5 class="card-title" id="opt2_text">Skip</h5>
      </div>
    </div>
  </div>

  <!-- DATA -->
  <div class="col-12 text-center p-3">
    <div class="alert alert-success" role="alert">
      <h4 id='user_rating'>Make your opinion count - Start voting now!</h4>
    </div>
    <h4>{{ number_format(@total_combinations) }} possible voting combinations!</h4>
  </div>

  <!-- LOADING SPINNER MODAL -->
  <div class="modal fade" id="divLoading" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <!--<div class="loader"></div>-->
          <div clas="loader-txt">
            <h1 id='thx_msg'>&nbsp;</h1>
            <p>Finding next options just for you...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
