

<div class="row">
  <div class="col-12 text-center">
    <h2>Results</h2>
  </div>
  <div class="col-6 text-center">
    <h4>Most Liked</h4>
    <p>{{ @top_result.description }}<br/>
    ({{@top_result.wins}} wins)</p>
  </div>
  <div class="col-6 text-center">
    <h4>Most Hated</h4>
    <p>{{ @bottom_result.description }}<br/>
    ({{@bottom_result.losses}} losses)</p>
  </div>
  <div class="col-12 text-center">
    <h3>Total Votes: {{ number_format(@total_votes) }}</h3>
  </div>
</div>

<!-- TOP RESULTS -->
<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Description</th>
      <th>Wins/Losses</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
<set row=0>
<repeat group="{{ @res }}" value="{{ @item }}">
  <set row={{@row++}}>
  <tr>
    <td>{{ @row }}</td>
    <td>{{ @item.description }}</td>
    <td>{{ @item.wins }}/{{ @item.losses }}</td>
    <td>{{ number_format(@item.rating*100) }}%</td>
  </tr>
</repeat>
  </tbody>
</table>

<!-- MOST CONTROVERSIAL -->
<h2>Most Controversial</h2>
<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Description</th>
      <th>Wins/Losses</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
<repeat group="{{ @controversial }}" value="{{ @item }}">
  <tr>
    <td>{{ @item.description }}</td>
    <td>{{ @item.wins }}/{{ @item.losses }}</td>
    <td>{{ number_format(@item.rating*100) }}%</td>
  </tr>
</repeat>
  </tbody>
</table>
